html *
{
   font-size: large; 
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}



h1            { text-align: center; font-size: 45px; }
h2            { text-align: center; font-size: large; font-style:italic;}
td            { vertical-align: top; text-align: left; }   
th            { vertical-align: top; text-align: center; } 
/* #finaltable  * { color: white; background-color: black; }   */

/* #finaltable table { border-collapse:collapse; } */
/* #finaltable table, td { border:1px solid white; } */
#finaltable:hover td { background-color: blue; } 
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:white; }
input        { text-align: right;  border: none;       }     /* Align input to the right  */
textarea     { border: outset; border-color: white;       }                        
table        { border: inset; border-color: white; }
.hidden      { display: none; }
.unhidden    { display: block; }
.unhiddenButton { text-align:center; margin-left:auto; margin-right:auto;  }
table.center { margin-left:auto; margin-right:auto; }
#result      { border-color: red; }
tr.error       { background-color: red; }
pre.output   { background-color: white; }
span.repeated { background-color: #FF3333  }
span.header { background-color: #3399FF }
span.comments { background-color: #CCFF66 }
span.blanks { background-color: #66FF66 }
span.nameEqualValue { background-color: #99FFFF }
span.error { background-color: #FF3333 }

body
{
 background-color:#3366FF;  /* blue */
}

#drop_zone{
	border: outset;
	border-color: white;
	width:35%;
    background-color: #CCCCCC;
    color: black;
    padding: 40px 50px;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}

