<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>Analizador de ficheros INI</title>
     <link href="global.css" rel="stylesheet" type="text/css">

     <script type="text/javascript" src="lib/underscore.js"></script>
     <script type="text/javascript" src="lib/jquery.js"></script>
     <script type="text/javascript" src="ini.js"></script>
	 <script type="text/html" id='underscoreTemplate'>
		<li> <span class="<%= t.type %>"> <%= s %> </span>
     </script>
	<link rel="shortcut icon" href="faviconStatic.ico" type="image/x-icon">
     <link rel="icon" href="faviconAnim.ico" type="image/x-icon">
	 
  </head>
  <body id="Cuerpo">
    <h1>Analizador de ficheros INI</h1><br>
    <div style="text-align:center">   
       <input type="file" id="fileinput" />
       <div id="drop_zone">Arrastre el fichero aquí</div> 
       <button id="botonRefrescar1" type="button" class="hidden"> Analizar otro fichero </button>
    </div>  
    <output id="list"></output>
    <div id="out" class="hidden">
    <table id="finalTable" align="center">
	  <br>
      <tr><th>Original</th><th>Tokens</th></tr>
      <tr>
        <td>
          <pre class="input" id="entrada"></pre>
        </td>
        <td>
          <pre class="output" id="salida"></pre>
        </td>
      </tr>
    </table>
    </div>
    <br>
    <div style="text-align:center">  
        <button id="botonRefrescar2" type="button" class="hidden"> Analizar otro fichero </button>
    </div>  
    <br><br>
    <h2 id="nombresAutores" class='hidden'>Autores: Sara Martín Molina y Adrián González Martín<h2>
  </body>
</html>
